VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=tlmchurch.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tlmchurch
VITE_FIREBASE_STORAGE_BUCKET=tlmchurch.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=842957606460
VITE_FIREBASE_APP_ID=
